/* Text */
h1 {
    color: #212529;
    font-size: calc(1.5rem + 1.5vw);
    text-align: center;
}

h2 {
    color: #212529;
    font-size: calc(1.2rem + 1vw);
    text-align: justify;
}

h5 {
    color: #212529;
    font-size: calc(0.6rem + 0.6vw);
    text-align: justify;
}

p {
    color: #212529;
    font-size: calc(0.6rem + 0.6vw);
    text-align: justify;
}

#copy{
    color: white;
    text-align: center;
    padding: 0%;
    margin: 0%;
}

a {
    color: #212529;
    text-decoration: solid;

}


#card_link{
    color: #6c757d;
    text-decoration: solid; 
}
/* Containers */
.container{
    margin: 1vw; /* auto */
    padding: 1rem;
}

#footer{
    background-color: #212529;
    padding: 0.5rem;

}

/* Quoting */
#blockquote_container {
    background-color: white;
    border-radius: 0.25rem;
    border-left: 0.40rem solid #212529;
    padding: 1rem;

}

blockquote {
    margin: 0 0 0rem;
    padding: 0.25rem;
    font-size: calc(0.6rem + 0.6vw);
    font-style: italic;
    
}

figcaption {
    color: #6c757d;
    font-size: 1rem;
    font-style: italic;
}

/* STUDIES */
#study-card {
    margin-bottom: 1rem;
    max-width: 540px;
    border: 0rem;
}

.study-card-img{
    max-width: 100%;
    height: auto;
}

#udemy {
   
}

#fcc{

}

#petrel {
    max-width: 75%;
    margin-left: 12%;
    margin-top: 15%;
    margin-bottom: 10%;
}

#sovg {
    max-width: 80%;
    margin-left: 6%;
}

/* Research & Projects */
.card-img-top{
    height: 100%;
    width: 100%;
}

/* Other stuff */
#heart{
    color: red;
}

/* navbar */

#sidebar{

}

#profile-pic{
    margin-top: 11vh;
}

#lsdR94{
    font-size: calc(1rem + 1vw);
}


#nav {
    margin-top: 3vh;
    margin-bottom: 3vh;
}


.nav-item{

}


#cv-button {
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: calc(0.6rem + 0.6vw);
}

#networks{

}

.nav-link{
    font-size: calc(0.6rem + 0.6vw);
}